@media all and (max-width: 376px) {

    .header .tab .logo{
        grid-column: 4 / 5;
    }

    .header .tab .social {
        display: none;
    }

    .header .tab .menu-bar {
        display:block;
        color: #fff;
        grid-column: 8 / 9;
        font-size: 2em;
        cursor: pointer;
    }

    
    .header .titulo-header {
        display: none;
    }

    .header .linea {
        display: none;
    } 

    .header .tab .navbar{
        position: absolute;
        display:inline;
        border: 2px solid rgba(237, 50, 55, 0.3);
        /* border-radius: 30px; */
        width: 100%;
        height: 30vh;
        display: grid;
        align-items:center;
        /* background: url(../img/pizza-2.jpg); */
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 59px;
        transform: translateX(100%);
        transition: all 1s;
        cursor: pointer;
    }

    .header .tab .navbar a:hover{
        color: #ed3237  ;
    }

    .header .tab .navbar-toggle{
        transform: translateX(0%);
    }

    header .contenedor-textos-header .pedido{
        cursor: pointer;
    } */

    main .acerca .contenedor .contenedor-acerca .titulo-acerca {
        font-size: 23px;
    }

    main .acerca .contenedor .contenedor-acerca .parrafo-acerca {
        font-size: 18px;
    }


    .icons .contenedor-iconos{
        display: flex;
        flex-direction: column;
        height: 800px;
    }

    .icons .contenedor-iconos .iconos1{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .icons .contenedor-iconos .iconos2{
        width: 100%;
        margin-bottom: 20px;
    }

    .icons .contenedor-iconos .iconos3{
        width: 100%;
        margin-bottom: 20px;
    }

    .icons .contenedor-iconos .iconos4{
        width: 100%;
        margin-bottom: 20px;
    }
        
    .icons .contenedor-iconos .iconos1 i{
        font-size:3em;  
    }

    .icons .contenedor-iconos .iconos2 i{
        font-size: 3em;
    }

    .icons .contenedor-iconos .iconos3 i{
        font-size: 3em;
    }

    main .icons .contenedor-iconos .iconos4 i{
        font-size: 3em;
    }

    main .icons .contenedor-iconos .iconos1 h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    main .icons .contenedor-iconos .iconos2 h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    main .icons .contenedor-iconos .iconos3 h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    main .icons .contenedor-iconos .iconos4 h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    main .icons .contenedor-iconos .iconos1 p {
        font-size: 15px;
        justify-content:center;
    }

    main .icons .contenedor-iconos .iconos2 p {
        font-size: 15px;
        justify-content:center;
    }

    main .icons .contenedor-iconos .iconos3 p {
        font-size: 15px;
        justify-content:center;
    }

    main .icons .contenedor-iconos .iconos4 p {
        font-size: 15px;
        justify-content:center;
    }

    main .menu .contenedor .contenedor-textos-menu .titulo-menu{
        font-size: 25px;
    }

    main .menu .contenedor .contenedor-textos-menu .parrafo-menu{
        font-size: 15px;
        padding-bottom: 20px;
        color: #dddddd
    }

    .menu .contenedor-menu-imagenes .empanada1{
        background: url(../img/emp-carne.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        height: 250px;
        width: 320px;
        display: flex;
        flex-flow: column nowrap;
        border-radius: 30px;
        text-align: center;
        margin-bottom: 10px;
    }

    .menu .contenedor-menu-imagenes .empanada1 a{
        display: inline-block;
        padding: 5px;
        background-color: #ed3237;
        text-align: center;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        border-radius: 30px;
        margin: 100px 60px;
        cursor: pointer;
    }

    .menu .contenedor-menu-imagenes .empanada1 a:hover{
        text-decoration: #fff;
        background: rgba(237, 50, 55, 0.3);
    }
    
    .menu .contenedor-menu-imagenes .empanada2{
        background: url(../img/emp-pollo.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        height: 250px;
        width: 320px;
        display: flex;
        flex-flow: column nowrap;
        border-radius: 30px;
        text-align: center;
        margin-bottom: 10px;
    }

    .menu .contenedor-menu-imagenes .empanada2 a{
        display: inline-block;
        padding: 5px;
        background-color: #ed3237;
        text-align: center;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        border-radius: 30px;
        margin: 100px 60px;
        cursor: pointer;
    }

    .menu .contenedor-menu-imagenes .empanada2 a:hover{
        text-decoration: #fff;
        background: rgba(237, 50, 55, 0.3);
    }
    
    .menu .contenedor-menu-imagenes .empanada3{
        background: url(../img/emp-jamonqueso.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        height: 250px;
        width: 320px;
        display: flex;
        flex-flow: column nowrap;
        border-radius: 30px;
        text-align: center;
        margin-bottom: 10px;
    }

    .menu .contenedor-menu-imagenes .empanada3 a{
        display: inline-block;
        padding: 5px;
        background-color: #ed3237;
        text-align: center;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        border-radius: 30px;
        margin: 100px 60px;
        cursor: pointer;
    }

    .menu .contenedor-menu-imagenes .empanada3 a:hover{
        text-decoration: #fff;
        background: rgba(237, 50, 55, 0.3);
    }

    
    .menu .contenedor-menu-imagenes .empanada4{
        background: url(../img/emp-verdura.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        height: 250px;
        width: 320px;
        display: flex;
        flex-flow: column nowrap;
        border-radius: 30px;
        text-align: center;
        margin-bottom: 10px;
    }

    .menu .contenedor-menu-imagenes .empanada4 a{
        display: inline-block;
        padding: 5px;
        background-color: #ed3237;
        text-align: center;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        border-radius: 30px;
        margin: 100px 60px;
        cursor: pointer;
    }

    .menu .contenedor-menu-imagenes .empanada4 a:hover{
        text-decoration: #fff;
        background: rgba(237, 50, 55, 0.3);
    }

    .menu .contenedor-menu-imagenes .pizza1{
        background: url(../img/pizza-napo.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        height: 250px;
        width: 320px;
        display: flex;
        flex-flow: column nowrap;
        border-radius: 30px;
        text-align: center;
        margin-bottom: 10px;
    }

    .menu .contenedor-menu-imagenes .pizza1 a{
        display: inline-block;
        padding: 5px;
        background-color: #ed3237;
        text-align: center;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        border-radius: 30px;
        margin: 100px 60px;
        cursor: pointer;
    }

    .menu .contenedor-menu-imagenes .pizza1 a:hover{
        text-decoration: #fff;
        background: rgba(237, 50, 55, 0.3);
    }

    .menu .contenedor-menu-imagenes .pizza2{
        background: url(../img/pizza-muzza.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        height: 250px;
        width: 320px;
        display: flex;
        flex-flow: column nowrap;
        border-radius: 30px;
        text-align: center;
        margin-bottom: 10px;
    }

    .menu .contenedor-menu-imagenes .pizza2 a{
        display: inline-block;
        padding: 5px;
        background-color: #ed3237;
        text-align: center;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        border-radius: 30px;
        margin: 100px 60px;
        cursor: pointer;
    }

    .menu .contenedor-menu-imagenes .pizza2 a:hover{
        text-decoration: #fff;
        background: rgba(237, 50, 55, 0.3);
    }

    .menu .contenedor-menu-imagenes .pizza3{
        background: url(../img/pizza-anchoas.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        height: 250px;
        width: 320px;
        display: flex;
        flex-flow: column nowrap;
        border-radius: 30px;
        text-align: center;
        margin-bottom: 10px;
    }

    .menu .contenedor-menu-imagenes .pizza3 a{
        display: inline-block;
        padding: 5px;
        background-color: #ed3237;
        text-align: center;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        border-radius: 30px;
        margin: 100px 60px;
        cursor: pointer;
    }

    .menu .contenedor-menu-imagenes .pizza3 a:hover{
        text-decoration: #fff;
        background: rgba(237, 50, 55, 0.3);
    }

    .menu .contenedor-menu-imagenes .pizza4{
        background: url(../img/pizza-fugazzeta.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        height: 250px;
        width: 320px;
        display: flex;
        flex-flow: column nowrap;
        border-radius: 30px;
        text-align: center;
        margin-bottom: 10px;
    }

    .menu .contenedor-menu-imagenes .pizza4 a{
        display: inline-block;
        padding: 5px;
        background-color: #ed3237;
        text-align: center;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        border-radius: 30px;
        margin: 100px 60px;
        cursor: pointer;
    }

    .menu .contenedor-menu-imagenes .pizza4 a:hover{
        text-decoration: #fff;
        background: rgba(237, 50, 55, 0.3);
    }

    .menu .contenedor-menu-imagenes .pizza5{
        background: url(../img/pizza-jamonqueso.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        height: 250px;
        width: 320px;
        display: flex;
        flex-flow: column nowrap;
        border-radius: 30px;
        text-align: center;
        margin-bottom: 15px;
    }

    .menu .contenedor-menu-imagenes .pizza5 a{
        display: inline-block;
        padding: 5px;
        background-color: #ed3237;
        text-align: center;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        border-radius: 30px;
        margin: 100px 60px;
        cursor: pointer;
    }

    .menu .contenedor-menu-imagenes .pizza5 a:hover{
        text-decoration: #fff;
        background: rgba(237, 50, 55, 0.3);
    }

    .header .contenedor-textos-header .titulo-header-contacto{
        font-size: 30px;
    }

    .header .contenedor-textos-header .linea-contacto{

    }
    
.contacto-form form {
    display: flex;
    flex-direction: column;
}


@media all and (max-width: 1280px) {
} 

.ubicacion-arrosa .ubicacion li{
    display: flex;
    text-align: center;
    width: 600px;
}